doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    center.wrapper(data-link-color='#ffffff' data-body-style='font-size:16px; font-family:helvetica,sans-serif; color:#ffffff; background-color:#ffffff;')
      .webkit
        table.wrapper(cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#ffffff')
          tbody
            tr
              td(valign='top' bgcolor='#ffffff' width='100%')
                table.outer(width='100%' role='content-container' align='center' cellpadding='0' cellspacing='0' border='0')
                  tbody
                    tr
                      td(width='100%')
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tbody
                            tr
                              td
                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='width:100%; max-width:600px;' align='center')
                                  tbody
                                    tr
                                      td(role='modules-container' style='padding:0px 0px 0px 0px; color:#ffffff; text-align:left; border-radius:10px;' bgcolor='#00294c' width='100%' align='left')
                                        table.module.preheader.preheader-hide(role='module' data-type='preheader' border='0' cellpadding='0' cellspacing='0' width='100%' style='display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;')
                                          tbody
                                            tr
                                              td(role='module-content')
                                                p -            
  
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='0b78e072-c78b-4804-bd06-7b6b22088c2f.1')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px;')
                                        table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='bA2FfEE6abadx6yKoMr3F9' data-mc-module-version='2019-10-22')
                                          tbody
                                            tr
                                              td(style='padding:30px 40px 20px 40px; line-height:22px; text-align:inherit; background-color:#00294c;' height='100%' valign='top' bgcolor='#00294c')
                                                div
                                                  div(style='font-family: inherit; text-align: center;')
                                                    span(style='color: #ffffff; font-family: helvetica,sans-serif; font-size: 18px') #{greetings}
                                                  div(style='font-family: inherit; text-align: center;')
                                                    span(style='color: #ffffff; font-family: helvetica,sans-serif; font-size: 18px') #{description}

                                        table.module(role='module' data-type='text' border='1' cellpadding='2' cellspacing='2' width='100%' style='table-layout: fixed; border: 1px solid white;' data-muid='bA2FfEE6abadx6yKoMr3F9' data-mc-module-version='2019-10-22')
                                          tbody
                                            each item in items
                                              tr(style='border: 1px solid white;')
                                                td #{item.label}
                                                td #{item.value}

                                        table.module(role='module' data-type='spacer' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='vqDDw7scxs521qMEgEyyuF')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 40px 0px;' role='module-content' bgcolor='')
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='0b78e072-c78b-4804-bd06-7b6b22088c2f')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px; text-align: center;')
                                                        img(src='https://ht-benefits-assets.s3.amazonaws.com/logo_umany_benefits_white_green.png' style='width: 188px;')
                                        table.module(role='module' data-type='spacer' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='vqDDw7scxs521qMEgEyyuF')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 20px 0px;' role='module-content' bgcolor='')
                                          .module.unsubscribe-css__unsubscribe___2CDlR(data-role='module-unsubscribe' role='module' data-type='unsubscribe' style='color:#120f84; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:center;' data-muid='GRteXBNz7UevhwJ6u6GXE')
                                            .Unsubscribe--addressLine