:root {
  --dark-blue: #00365f;
}

/* For mobile phones */
@media screen and (max-width: 767px) {
  h3 {
    color: var(--dark-blue);
  }
}
.footer {
  background-color: var(--dark-blue);
}
.footer .footerbar .logo {
  width: 165px;
}
.footer .footerbar p {
  color: #f8e887;
  margin: 0;
  text-indent: 0;
  margin-left: 17px;
}
.footer .footerbar img {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 17px;
}

/* for tablet */
@media (min-width: 768px) and (max-width: 1365px) {
  h3 {
    color: var(--dark-blue);
  }
  .footer {
    background-color: var(--dark-blue);
    column-count: 2;
  }
  .footer .footerbar .logo {
    margin-top: 30px;
    margin-left: 64px;
    margin-bottom: 30px;
    width: 220px;
  }
  .footer .footerbar p {
    color: #f8e887;
    margin: 0;
    text-indent: 0;

    padding-top: 25px;
  }
  .footer .footerbar img {
    padding-top: 10px;
  }
}
/* desktop small */
@media (min-width: 1366px) and (max-width: 1599px) {
  h3 {
    color: var(--dark-blue);
  }
  .footer {
    background-color: var(--dark-blue);
    column-count: 3;
  }
  .footer .footerbar .logo {
    margin-top: 62px;
    margin-left: 64px;
    margin-bottom: 80px;
  }
  .footer .footerbar p {
    color: #f8e887;
    margin: 0;
    text-indent: 0;

    padding-top: 50px;
  }
  .footer .footerbar img {
    padding-top: 10px;
  }
}
/* desktop big */
@media (min-width: 1600px) {
  h3 {
    color: var(--dark-blue);
  }
  .footer {
    background-color: var(--dark-blue);
    column-count: 3;
  }
  .footer .footerbar .logo {
    margin-top: 62px;
    margin-left: 64px;
    margin-bottom: 80px;
  }
  .footer .footerbar p {
    color: #f8e887;
    margin: 0;
    text-indent: 0;

    padding-top: 50px;
  }
  .footer .footerbar img {
    padding-top: 10px;
  }
}
